name: Release Image
on:
  workflow_dispatch:
    inputs:
      PIPELINE_TAG:
        description: 'Git tag of the release e.g. helm-promise-v0.3.0'
        required: true
  push:
    tags:
      - helm-promise-*
      - crossplane-promise-*
      - terraform-module-promise-*
      - operator-promise-*

jobs:
  make-release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          submodules: recursive
      - name: Determine PIPELINE_TAG
        run: |
          if [ "${{ github.event_name }}" == "workflow_dispatch" ]; then
            echo "PIPELINE_TAG=${{ github.event.inputs.PIPELINE_TAG }}" >> $GITHUB_ENV
          else
            echo "PIPELINE_TAG=${{ github.ref_name }}" >> $GITHUB_ENV
          fi
      - name: Set release name and version as Environment Variables
        run: |
          echo "PACKAGE_NAME=$(echo ${PIPELINE_TAG} | awk -F'-v' '{ print $1 }')" >> $GITHUB_ENV
          echo "VERSION=v$(echo ${PIPELINE_TAG} | awk -F'-v' '{ print $2 }')" >> $GITHUB_ENV
          echo "Packaging $PACKAGE_NAME at version $VERSION"
      - name: Docker login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: "syntassodev"
          password: ${{ secrets.GHCR_TOKEN }}
      - name: Make release
        run: |
          cd $PACKAGE_NAME
          make release
